
/**************************************************/
/*                  Basic Styles                  */
/**************************************************/

body {
   
    /* font-family: 'opensans', Arial, Helvetica, sans-serif; */
    /* min-height: 75rem; */
    padding-top: 4.5rem;
    
    

} 

/**************************************************/
/*                   Topography                   */
/**************************************************/

/**************************************************/
/*                     Buttons                    */
/**************************************************/
/* Back button */
.floating-button {
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 40px;
    height: 40px;
 
}

.card .btn-sm {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.1rem;
}
/**************************************************/
/*                     Forms                      */
/**************************************************/

/**************************************************/
/*                     Cards                      */
/**************************************************/
.recipe-card:hover {
    border: 1px solid black;
    

}
.card {
    --bs-card-spacer-y: 0.25rem;
    --bs-card-spacer-x: 0.5rem;
}

.card-text {
    font-size: 0.75rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


/**************************************************/
/*                   Navigation                   */
/**************************************************/

/**************************************************/
/*                 Media Queries                  */
/**************************************************/

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 480px) { 
    
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      
 }  

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
 }

@media print {
    body {
        font-size: 12pt;
    }

    .box {
        padding: 0.5cm ;
    }
}









