<nav
  class="navbar navbar-expand-md fixed-top navbar-dark bg-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >Foodables <span class="badge bg-secondary">v1!</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="./index.html">Home</a>
        <a class="nav-link" href="./new-recipe.html">New Recipe</a>
        <a class="nav-link" href="./recipes.html">Recipes</a>
      </div>
    </div>
  </div>
</nav>
<!-- Recipe view nav-->
